!! IOS XR Configuration 7.4.1
!! Last configuration change at Wed Aug 18 19:55:09 2021 by cisco
!
username cisco
 group root-lr
 group cisco-support
 password 7 01100F175804575D72
! 
interface GigabitEthernet0/0/0/0
 ipv4 address 10.1.1.1 255.255.255.0
!
! Configure BGP
router bgp 100
 bgp router-id 10.1.1.1
 bgp update-delay 0
 address-family ipv4 unicast
  redistribute connected
 !
 neighbor 10.1.1.2
  remote-as 100
  address-family ipv4 unicast
  !
 !
!
grpc
 dscp cs4
 port 57400
 max-streams 128
 max-streams-per-user 128
 address-family dual
 max-request-total 256
 max-request-per-user 32
!
ssh server vrf default
end


