# kubeadm.yaml cluster config file sets up ingress, cni, and controllers in a new k8 cluster
# created using kubeadm. The kubeadm cluster starts as a single node cluster but can be joined
# from other hosts to create a multinode cluster.
cluster:
  kind: Kubeadm
  spec:
    criSocket: unix:///var/run/cri-dockerd.sock
    podNetworkCIDR: 10.244.0.0/16
    tokenTTL: 0 # no timeout
    podNetworkAddOnManifest: ../../manifests/flannel/manifest.yaml
ingress:
  kind: MetalLB
  spec:
    manifest: ../../manifests/metallb/manifest.yaml
    ip_count: 100
cni:
  kind: Meshnet
  spec:
    manifest: ../../manifests/meshnet/grpc/manifest.yaml
controllers:
  - kind: IxiaTG
    spec:
      operator: ../../manifests/keysight/ixiatg-operator.yaml
      configMap: ../../manifests/keysight/ixiatg-configmap.yaml
  - kind: SRLinux
    spec:
      operator: ../../manifests/controllers/srlinux/manifest.yaml
  - kind: CEOSLab
    spec:
      operator: ../../manifests/controllers/ceoslab/manifest.yaml
  - kind: Lemming
    spec:
      operator: ../../manifests/controllers/lemming/manifest.yaml
