!! IOS XR Configuration 
!
username cisco
 group root-lr
 group cisco-support
 secret 10 $6$nd8Pp1emKxgJDp1.$PeQSLpqjl3esYN6QmpmWPFuS.34wiD7Fb7cxVvx8sQXpvvPwhXVUx5pFm4vRxxrV.qK7uhFKCzdhyDDgXXirE.
!
interface Loopback0
 ipv4 address 44.44.44.44 255.255.255.255
 ipv6 address 44::44/128
!
interface FourHundredGigE0/0/0/0
 ipv4 address 10.1.1.1 255.255.255.0
!
grpc
 dscp cs4
 port 57400
 max-streams 128
 max-streams-per-user 128
 address-family dual
 max-request-total 256
 max-request-per-user 32
!
hw-module profile pbr vrf-redirect
cef proactive-arp-nd enable
ssh server vrf default
end
