apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: arista-ceoslab-operator-system
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: ceoslabdevices.ceoslab.arista.com
spec:
  group: ceoslab.arista.com
  names:
    kind: CEosLabDevice
    listKind: CEosLabDeviceList
    plural: ceoslabdevices
    singular: ceoslabdevice
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CEosLabDevice is the Schema for the ceoslabdevices API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CEosLabDeviceSpec defines the desired state of CEosLabDevice
            properties:
              args:
                description: Additional arguments to pass to /sbin/init. Those necessary to boot properly are already present.
                items:
                  type: string
                type: array
              certconfig:
                description: X.509 certificate configuration.
                properties:
                  selfsignedcerts:
                    description: Configuration for self-signed certificates.
                    items:
                      properties:
                        certname:
                          description: Certificate name on the node.
                          type: string
                        commonname:
                          description: Common name to set in the cert.
                          type: string
                        keyname:
                          description: Key name on the node.
                          type: string
                        keysize:
                          description: RSA keysize to use for key generation.
                          format: int32
                          type: integer
                      type: object
                    type: array
                type: object
              envvars:
                additionalProperties:
                  type: string
                description: Additional environment variables. Those necessary to boot properly are already present.
                type: object
              image:
                description: 'Image name. Default: ceos:latest'
                type: string
              initcontainerimage:
                description: 'Init container image name. Default: networkop/init-wait:latest'
                type: string
              intfmapping:
                additionalProperties:
                  type: string
                description: Explicit interface mapping between kernel devices and interface names. If this is defined, any unmapped devices are ignored.
                type: object
              numinterfaces:
                description: 'Number of data interfaces to create. An additional interface (eth0) is created for pod connectivity. Default: 0 interfaces'
                format: int32
                type: integer
              resourcerequirements:
                additionalProperties:
                  type: string
                description: 'Resource requests to configure on the pod. Default: none'
                type: object
              services:
                additionalProperties:
                  properties:
                    tcpports:
                      description: TCP ports to forward to the pod.
                      items:
                        properties:
                          in:
                            description: Port inside the container.
                            format: int32
                            type: integer
                          out:
                            description: Port outside the container. Defaults to the same as in.
                            format: int32
                            type: integer
                        type: object
                      type: array
                  type: object
                description: 'Port mappings for container services. Default: none'
                type: object
              sleep:
                description: 'Time (in seconds) to wait before starting the device. Default: 0 seconds'
                format: int32
                type: integer
              toggleoverrides:
                additionalProperties:
                  type: boolean
                description: EOS feature toggle overrides
                type: object
            type: object
          status:
            description: CEosLabDeviceStatus defines the observed state of CEosLabDevice
            properties:
              configmapconfig:
                description: ConfigMap state as configured in configmaps
                properties:
                  intfmappingstatus:
                    additionalProperties:
                      type: string
                    type: object
                  rceosstale:
                    type: boolean
                  selfsignedcertstatus:
                    additionalProperties:
                      properties:
                        certname:
                          description: Certificate name on the node.
                          type: string
                        commonname:
                          description: Common name to set in the cert.
                          type: string
                        keyname:
                          description: Key name on the node.
                          type: string
                        keysize:
                          description: RSA keysize to use for key generation.
                          format: int32
                          type: integer
                      type: object
                    type: object
                  startupconfigresourceversion:
                    type: string
                  toggleoverridesstatus:
                    additionalProperties:
                      type: boolean
                    type: object
                type: object
              podconfigmapconfig:
                description: ConfigMap state as present in the pod. If these diverge, we need to restart the pod to update. Even if an in-place update is possible these are needed at boot time.
                properties:
                  intfmappingstatus:
                    additionalProperties:
                      type: string
                    type: object
                  rceosstale:
                    type: boolean
                  selfsignedcertstatus:
                    additionalProperties:
                      properties:
                        certname:
                          description: Certificate name on the node.
                          type: string
                        commonname:
                          description: Common name to set in the cert.
                          type: string
                        keyname:
                          description: Key name on the node.
                          type: string
                        keysize:
                          description: RSA keysize to use for key generation.
                          format: int32
                          type: integer
                      type: object
                    type: object
                  startupconfigresourceversion:
                    type: string
                  toggleoverridesstatus:
                    additionalProperties:
                      type: boolean
                    type: object
                type: object
              reason:
                description: Reason for potential failure
                type: string
              status:
                description: Device status
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: arista-ceoslab-operator-controller-manager
  namespace: arista-ceoslab-operator-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: arista-ceoslab-operator-leader-election-role
  namespace: arista-ceoslab-operator-system
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: arista-ceoslab-operator-manager-role
rules:
- apiGroups:
  - ceoslab.arista.com
  resources:
  - ceoslabdevices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ceoslab.arista.com
  resources:
  - ceoslabdevices/finalizers
  verbs:
  - update
- apiGroups:
  - ceoslab.arista.com
  resources:
  - ceoslabdevices/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: arista-ceoslab-operator-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: arista-ceoslab-operator-proxy-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: arista-ceoslab-operator-leader-election-rolebinding
  namespace: arista-ceoslab-operator-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: arista-ceoslab-operator-leader-election-role
subjects:
- kind: ServiceAccount
  name: arista-ceoslab-operator-controller-manager
  namespace: arista-ceoslab-operator-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: arista-ceoslab-operator-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: arista-ceoslab-operator-manager-role
subjects:
- kind: ServiceAccount
  name: arista-ceoslab-operator-controller-manager
  namespace: arista-ceoslab-operator-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: arista-ceoslab-operator-proxy-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: arista-ceoslab-operator-proxy-role
subjects:
- kind: ServiceAccount
  name: arista-ceoslab-operator-controller-manager
  namespace: arista-ceoslab-operator-system
---
apiVersion: v1
data:
  controller_manager_config.yaml: |
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: 127.0.0.1:8080
    webhook:
      port: 9443
    leaderElection:
      leaderElect: true
      resourceName: a8645112.arista.com
kind: ConfigMap
metadata:
  name: arista-ceoslab-operator-manager-config
  namespace: arista-ceoslab-operator-system
---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: controller-manager
  name: arista-ceoslab-operator-controller-manager-metrics-service
  namespace: arista-ceoslab-operator-system
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: https
  selector:
    control-plane: controller-manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: controller-manager
  name: arista-ceoslab-operator-controller-manager
  namespace: arista-ceoslab-operator-system
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
    spec:
      containers:
      - args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=0
        image: gcr.io/kubebuilder/kube-rbac-proxy:v0.11.0
        name: kube-rbac-proxy
        ports:
        - containerPort: 8443
          name: https
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 5m
            memory: 64Mi
      - args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=127.0.0.1:8080
        - --leader-elect
        command:
        - /manager
        image: ghcr.io/aristanetworks/arista-ceoslab-operator:v1.0.2
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
      securityContext:
        runAsNonRoot: true
      serviceAccountName: arista-ceoslab-operator-controller-manager
      terminationGracePeriodSeconds: 10
