system {
    root-authentication {
        encrypted-password "$6$7uA5z8vs$cmHIvL0aLU4ioWAHPR0PLeU/mJj.JO/5pQVQoqRlInK3fJNTLYLhwiDi.Q6gHhltSB3S1P/.raEsuDSH7akcJ/"; ## SECRET-DATA
    }
    services {
        ssh {
            root-login allow;
        }
    }
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
}
interfaces {
    et-0/0/0 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/1 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/2 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/3 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/4 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/5 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/6 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/7 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/8 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/9 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/10 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/11 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/12 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/13 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/14 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/15 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/16 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/17 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/18 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/19 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/20 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/21 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/22 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/23 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/24 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/25 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/26 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/27 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/28 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/29 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/30 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/31 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/32 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/33 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/34 {
        number-of-sub-ports 4;
        speed 100g;
    }
    et-0/0/35 {
        number-of-sub-ports 4;
        speed 100g;
    }
    re0:mgmt-0 {
        unit 0 {
            family inet {
                address FXP0ADDR;
            }
        }
    }
}
